.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: 1px solid transparent;
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-light);
    background-color: transparent;
    border-color: currentColor;
  }

  &:active {
    scale: 0.95;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}
